<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatosMovil.Properties.Settings.QUERY_MOVIL_V2ConnectionString1"
            connectionString="Data Source=YOUR_DB_SERVER;Initial Catalog=QUERY_MOVIL_V2;User ID=YOUR_DB_USER;Password=YOUR_DB_PASSWORD"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatosMovil.Properties.Settings.QUERY_MOVIL_V3ConnectionString"
            connectionString="Data Source=CompuSebas\SQLEXPRESS;Initial Catalog=QUERY_MOVIL_V3;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatosMovil.Properties.Settings.QUERY_MOVIL_V2ConnectionString"
            connectionString="Data Source=YOUR_DB_SERVER;Initial Catalog=QUERY_MOVIL_V2;User ID=YOUR_DB_USER;Password=YOUR_DB_PASSWORD;"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatosMovil.Properties.Settings.QUERY_MOVIL_V2ConnectionString2"
            connectionString="Data Source=CompuSebas\SQLEXPRESS;Initial Catalog=QUERY_MOVIL_V2;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>